version: '3.8'

services:
  grafana:
    image: grafana/grafana:latest
    restart: unless-stopped
    ports:
      - "5000:3000"
    volumes:
      - ./dashboards:/var/lib/grafana/dashboards
      - ./provisioning:/etc/grafana/provisioning
    environment:
      - GF_SECURITY_ADMIN_PASSWORD=admin
    networks:
      monitoring:
        ipv4_address: 172.30.0.30