groups:
  - name: docker_container_alerts
    rules:
      - alert: DockerContainerHighMemory
        # expr: container_memory_usage_bytes{image=~".*nginx.*"} > 134217728    #128 МБ
        expr: container_memory_usage_bytes{image=~".*nginx.*"}   > 10485760       #10 МБ     Что бы всегда ловить ошибки для отладки
        for: 2m
        labels:
          severity: warning
          alert_type: docker_memory
        annotations:
          summary: "Docker контейнер {{ $labels.name }} использует >128 МБ"
          description: |
            Контейнер: {{ $labels.name }}
            Образ: {{ $labels.image }}
            Память: >128 МБ
            Хост: {{ $labels.instance }}