version: '3.8'

services:
  app:
    build: .
    image: web-service
    ports:
      - "4000:4000"
    environment:
      - NODE_ENV=production
      - PORT=4000
    deploy:
      resources:
        limits:
          memory: 128M
        reservations:
          memory: 64M
    networks:
      monitoring:
        ipv4_address: 172.30.0.10


